body {
    background-color: white;
}

#neutralinoapp {
    text-align: center;
    cursor: default;
}

#neutralinoapp h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}
