#neutralinoapp {
    text-align: center;
}
#neutralinoapp h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #000000;
}
#neutralinoapp a {
    margin-left: 12px;
}