name: Test suite

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Install Libraries
      run: | 
        sudo apt-get update
        sudo apt-get install -y -f \
        libgtk-3-dev \
        libwebkit2gtk-4.0-37 \
        libwebkit2gtk-4.0-dev \
        libayatana-appindicator3-dev 
        sudo apt-get install -y -f xvfb
        
    - name: Build
      run: |
        ./scripts/bz.py
        chmod +x ./bin/neutralino-linux_x64
        
    - name: Setup Spec Requirements
      working-directory: ./bin/extensions/sampleextension 
      run: npm ci
      
    - name: Run Spec
      working-directory: ./spec 
      run: | 
        npm ci
        xvfb-run npm run test

  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Build
      run: ./build_windows.bat

  build-darwin:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Build
      run: |
        ./scripts/bz.py
        chmod +x ./bin/neutralino-mac_x64
        
    - name: Setup Spec Requirements
      working-directory: ./bin/extensions/sampleextension 
      run: npm ci
      
    - name: Run Spec
      working-directory: ./spec 
      run: | 
        npm ci
        npm run test
