name: Test suite

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y -f \
        libgtk-3-dev \
        libwebkit2gtk-4.0-37 \
        libwebkit2gtk-4.0-dev \
        libayatana-appindicator3-dev \
        xvfb

    - name: Build
      run: |
        ./scripts/bz.py
        chmod +x ./bin/neutralino-linux_x64

    - name: Setup Spec Requirements
      working-directory: ./bin/extensions/sampleextension
      run: npm ci

    - name: Run Spec
      working-directory: ./spec
      run: |
        npm ci
        xvfb-run npm run test

  build-linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: uraimo/run-on-arch-action@v2
        id: build-package
        with:
          arch: aarch64
          distro: ubuntu18.04
          install: |
            apt-get update
            apt-get install -y -f \
            libgtk-3-dev \
            libwebkit2gtk-4.0-37 \
            libwebkit2gtk-4.0-dev \
            libayatana-appindicator3-1 \
            curl \
            git \
            python3 \
            g++ \
            pkg-config \
            xinit \
            xserver-xorg \
            x11-xserver-utils \
            matchbox-window-manager \
            xvfb
            curl -fsSL https://deb.nodesource.com/setup_16.x | bash -
            apt-get install -y nodejs
          githubToken: ${{ github.token }}
          run: |
            git config --global --add safe.directory $GITHUB_WORKSPACE
            ./scripts/bz.py
            chmod +x ./bin/neutralino-linux_arm64
            (cd ./bin/extensions/sampleextension && npm ci)
            cd spec
            npm ci
            xvfb-run npm run test

  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: python ./scripts/bz.py
      shell: cmd

  build-darwin:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: |
        ./scripts/bz.py
        chmod +x ./bin/neutralino-mac_x64

    - name: Setup Spec Requirements
      working-directory: ./bin/extensions/sampleextension
      run: npm ci

    - name: Run Spec
      working-directory: ./spec
      run: |
        npm ci
        npm run test
